/// Basic Color ///
$white: #fff;
$primary: #111;
$secondary: #666;
$ternary: #b5b5b5;
$gray: #f5f6fa;
$border: #dbdfea;

/// Focus Color ///
$color_accent: #243100;
$accent: #2ba735;
$red: red;
$green: #34c759;
